body {
	overflow-x: hidden;
	color: green;
	background: white;
}

/* site wrapper to make sure overflow is hidden on mobile */
.site {
	overflow-x: hidden;
}

.logo {
	border-radius: 50%;
	position: absolute;
}

/* setup main image display container */
.display {
	border: 5px solid #206020;
	height: 484px;
	width: calc(100% - 10px);
	overflow: hidden;
	margin: 0 auto;
}

.projects img {
	cursor: pointer;
}

/* Make main image stay positioned correctly regardless of screensize */
.img-main {
	float:left;
	max-width: none;
	position: relative;
	left: calc((1140px - 100%)/-2);
}

/* Position project detail image in display container */
.img-detail {
	position: relative;
	max-width: none;
	bottom: 101px;
	width: 100%;
	min-height: 485px;
	min-width: 633px;
}

.centered {
	float: left;
	left: calc((1140px - 100%)/-2);
	width: auto;
	min-width: 0px;
	min-height: 0px;
}

/* style and position product desciption text box in display container */
.txt-detail {
	position: relative;
	top: 389px;
	width: 100%;
	height: 91px;
	background-color: #206020;
	z-index: 1;
	padding: 10px;
	color: white;
}

.projects img {
	border: 3px solid #fff;
}

h1 {
	font-size: 36px;
}

h3 {
	font-size: 16px;
}