body {
	overflow-x: hidden;
	color: #FFF;
	background-color: black;
}

.site {
	overflow-x: hidden;
}
.img-main {
	float:left;
	max-width: none;
	position: relative;
	left: calc((1140px - 100%)/-2);
}

.img-detail {
	position: relative;
	max-width: none;
	bottom: 101px;
	width: 100%;
	min-height: 485px;
	min-width: 633px;
}

.display {
	border: 5px solid #FFF;
	height: 484px;
	width: calc(100% - 10px);
	overflow: hidden;
	margin: 0 auto;
}

.projects img {
	border: 3px solid #FFF;
}

.logo {
	border-radius: 50%;
	position: absolute;
}

.txt-detail {
	position: relative;
	top: 389px;
	width: 100%;
	height: 91px;
	background-color: #151515;
	z-index: 1;
	padding: 10px;
}

h1 {
	font-size: 36px;
}

h3 {
	font-size: 16px;
}