img, embed, object, video {
    max-width: 100%;
}

nav a, button{
    min-width: 48px;
    min-height: 48px;
}
body {
	overflow-x: hidden;
	color: #FFF;
	background-color: black;
}
.img-main {
	overflow: hidden;
	float:left;
	max-width: none;
	position: relative;
	left: calc((1140px - 100%)/-2);
	border: 5px solid #FFF;
}

.img-detail {
	max-width: none;
	left: -5px;
}

.logo {
	border-radius: 50%;
	position: absolute;
}

h1 {
	font-size: 36px;
}

h3 {
	font-size: 16px;
}